* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 99.8%;
  margin: 0;
}

.heading {
  font-size: 1.3rem;
  margin-top: 1rem;
  text-align: center;
  text-transform: capitalize;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 90%;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 3.5rem;
}

.card {
  border: 1px solid #ddd;
  padding: 0.7rem !important;
  background-color: lightslategray;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  width: 15%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.poster-image {
  width: 100%;
  height: 190px;
  border-radius: 8px;
}

.title {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details-container {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.release-date {
  font-size: 14px;
  margin-bottom: 0.1rem;
}

.media-type {
  font-size: 14px;
  text-transform: capitalize;
}

.scroll-to-top {
  position: fixed;
  bottom: 4rem;
  right: 20px;
  cursor: pointer;
  background-color: gray;
  padding: 0.5rem;
  border-radius: 50%;
  z-index: 10000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scroll-to-top:hover {
  background-color: #f0f0f0;
}

.scroll-to-top svg {
  color: black;
}

.linear-progress-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.linear-progress {
  width: 200px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  width: 95%;
}

/* Search styles */
.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.1rem 3rem;
  color: gray;
  background-color: darkgray;
  width: 73%;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3rem;
}

.not-found-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.not-found-message img {
  max-width: 100%;
  max-height: 100%;
}

/* Media queries */

/* Mobile view */
@media only screen and (min-width: 480px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
    padding: 0.5rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
  }

  .card {
    border: 1px solid #ddd;
    padding: 0.3rem !important;
    background-color: lightslategray;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .search-container {
    width: 80%;
    padding: 0.1rem 1rem;
  }

  .poster-image {
    width: 100%;
    height: 120px;
    border-radius: 8px;
  }

  .title {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .details-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
  }

  .media-type {
    font-size: 14px;
    text-transform: capitalize;
  }
}

/* Tablet view */
@media only screen and (min-width: 768px) { 
  .card {
    border: 1px solid #ddd;
    padding: 0.5rem;
    background-color: lightslategray;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 24%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .search-container {
    width: 80%;
    padding: 0.1rem 1rem;
  }
}

/* Laptop view */
@media only screen and (min-width: 992px) {
  .card {
    border: 1px solid #ddd;
    padding: 0.5rem;
    background-color: lightslategray;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 15%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .search-container {
    width: 80%;
    padding: 0.1rem 1rem;
  }
  /* Add specific styles for laptop view if needed */
}

